{% extends 'layout/root.html' %} 
<!--
  Lista de las redes sociales
-->
{% block content %}
<section class="row justify-content-center">
  <div class="d-grid gap-2 col-md-4 col-sm-7">
    <ul class="list-unstyled">
      <li class="mt-4">
        <a href="#" class="w-100 btn btn-outline-primary">
          <span></span>Facebook
        </a>
      </li>
      <li class="mt-4">
        <a href="#" class="w-100 btn btn-outline-danger">
          <span></span>Youtube
        </a>
      </li>
      <li class="mt-4">
        <a href="#" class="w-100 btn btn-outline-dark"><span></span>Tiktok</a>
      </li>
      <li class="mt-4">
        <a href="#" class="w-100 btn btn-outline-info"><span></span>Paypal</a>
      </li>
    </ul>
  </div>
</section>
{% endblock%}
